/* Description modal */
body.description-modal-open {
    overflow: hidden;
}
#description-modal-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: yellow;
    opacity: 0.7;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: black;
}
body.description-modal-open #description-modal-screen {
    display: flex;
}

/* Price modal */
body.price-modal-open {
    overflow: hidden;
}
#price-modal-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: hotpink;
    opacity: 0.7;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: black;
}
body.price-modal-open #price-modal-screen {
    display: flex;
}


/* Calories modal */
body.calories-modal-open {
    overflow: hidden;
}
#calories-modal-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: lawngreen;
    opacity: 0.7;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: black;
}
body.calories-modal-open #calories-modal-screen {
    display: flex;
}

/* Ingredients modal */
body.ingredients-modal-open {
    overflow: hidden;
}
#ingredients-modal-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: powderblue;
    opacity: 0.7;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: black;
}
body.ingredients-modal-open #ingredients-modal-screen {
    display: flex;
}