/* menuName modal */
body.menuName-modal-open {
    overflow: hidden;
}
#menuName-modal-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(100, 200, 100, .95);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: black;
}
body.menuName-modal-open #menuName-modal-screen {
    display: flex;
}