/* main body */

.grid-hack{
    margin-top: 5.5rem;
    width: 100%;
}
.container{
    display: grid;
    grid-column: auto;
    grid-gap: 0 10px;
    background-color: black;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*  Header  */

.header{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    border: 3px solid green;
}
  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
  .flex-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding:0 1rem 0 1rem;
    
}
.flex-navigation li{
    display: inline-flex;
    justify-content: flex-end;
    padding: 4px;
}
.logo{
    height: 50px;
    width: 50px;
    left: 1rem;
    top: 1rem;
}

/* Hero Image*/

.hero-one{
    background-image: url('../img/dinnerstockbg.jpg');
    padding: 150px 0 150px 0;
    max-height:500px;
    min-width: 100%;
    left:0;
    right:0;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }
 .overlay{
	width: 100%;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
 /* background-image: linear-gradient( 135deg, #a3040469 10%, rgba(12, 17, 19, 0.534) 100%);*/
}
  .slides{
    max-height:500px;
    min-width: 100%;
  }
  .hero-text{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      color: whitesmoke;
      z-index: 1;
      padding: 1rem;
  }

  /* Footer */

.footer{
    display: flex;
    direction: column;
    justify-content: center;
    height: 200px;
    width:100%;
    padding-bottom: .5rem;
    line-height: 1.6rem;
    align-items: center;
    border-left: 10px solid rgba(172, 0, 0, 0.651);
    border-bottom: 10px solid rgba(172, 0, 0, 0.651);
    background-color: #fff;
    
}
.footer h4{
    font-size: 24px;
}
.hero-img{
    background-image: url("/img/footerbanner2.jpg");
	background-size: cover;     
}
/* body sections layouts */

.flex-container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border:2px solid blue;
    background-color: aliceblue;
}
.flex-container-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    border:2px solid green;
    background-color: aliceblue;
}
.flex-container-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 10px solid rgba(172, 0, 0, 0.651);
    overflow: auto;
    height: auto;
    background-color: rgb(243, 243, 243);
}
.flex-container-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 10px solid rgba(172, 0, 0, 0.651);
    overflow: auto;
    height: auto;
    background-color: rgb(243, 243, 243);
}
.flex-container-5{
    display: grid;
    grid-template-columns: 1fr;
    border:2px solid pink;
    background-color: aliceblue;
}
.flex-container-6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    overflow: auto;
    height: auto;
    margin-left: 6rem;
    margin-top: 0;
    padding: 2rem;
    background-color: white;
}
.flex-container-7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: 1rem;
}
.flex-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 10px solid rgba(172, 0, 0, 0.651);
    overflow: auto;
    height: auto;
    background-color: rgb(243, 243, 243);
}
.flex-5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}
.flex-title{
    display: block;
}

/* About us squares */
.flex-list-app-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:30%;
    height:auto;
    margin-top: 3rem;
    margin:1rem;
}
.flex-list-app-content h3{
    font-size: 30px;
    
}
.flex-list-app-content p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.9rem;
}
.about-us-images{
    width:300px;
    height: 300px;
}
/* Restaurant List */


.flex-list-restaurants{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    
}
.flex-list-restaurants li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height:400px;
    padding: .5rem;
    margin:.3rem;
    margin-top: 2rem;
    box-shadow:  0 4px 8px 0 lightgrey;
    background-color: rgb(243, 243, 243);
}
.flex-list-restaurants li a{
    font-size: 24px;
    margin: .3rem auto .5rem auto;
}
.flex-list-restaurants span{
    line-height: 2rem;
}
.restaurant-card-picture{
    width:200px;
    height: 200px;
    margin-bottom: .3rem; 
}
.flex-restaurant-line{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height: 100px;
    padding: 1rem;
}
.flex-container-4 h2{
    font-size: 36px;
}

/* Menu Page */

.flex-list-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    padding: 1rem;
    background-color: rgb(243, 243, 243);  
}
.flex-container-7 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: 1rem;
}
.flex-container-7 span{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: 1rem;
}
.flex-list-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height:60px;
    padding: 1rem;
    margin:1rem;
    box-shadow:  0 3px 6px 0 lightgrey;   
}
.menu-container{
    display: inline-block;
    cursor: pointer;
}
.flex-container-4 p{
    padding:0 2rem;
}

/* Buttons on Menu Page */
.button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
.remove-button {
    border: 1px solid red;
    background-color: aliceblue;
    color:red;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.remove-button:hover {
    background-color: red; /* Green */
    color: white;
}
.edit-button {
    border: 1px solid yellowgreen;
    background-color: aliceblue;
    color:black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.edit-button:hover {
    background-color: yellowgreen; /* Green */
    color: black;
}
.freeze-button {
    border: 1px solid darkblue;
    background-color: aliceblue;
    color:darkblue;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.freeze-button:hover {
    background-color: darkblue; /* Green */
    color: white;
}
.flex-item-list{
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width:80%;
    line-height: 30px;
    height:auto;
    padding: .5rem;
    margin:.5rem;
}
.flex-menu-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin:0;
}
.flex-item-box{
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:auto;
    padding: 1rem;
    margin:1rem;
}
.item-image{
    width:25vw;
    border-left:8px solid  rgba(172, 0, 0, 0.651);
}
.flex-22{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

/* Item Page */

.flex-container-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    height: auto;
    margin: 1.5rem;
    padding: 1.5rem;
    border:2px solid black;
}
.flex-container-main-title{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
    border:2px solid blue;
}
/*.flex-container-items-menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    padding: 1rem;
    box-shadow:  0 4px 8px 0 lightgrey;
}*/
.flex-container-items-menu a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: .5rem;
    box-shadow:  0 4px 8px 0 lightgrey;
}
.flex-container-items-menu a:hover{
    transform: scale(1.3);
}
.flex-container-items-menu span{
    font-size: 24px;
    font-weight: bold;
}
.flex-thing{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left:2rem;
    justify-content: space-evenly;
    align-items: center;
}
.flex-thing h3{
    font-size: 24px;
}

/* Comment Section on Item Page */

.flex-container-comments{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    margin: 1.5rem;
    padding: 1.5rem;
    
}
.flex-comment-header{
    border: 1px solid black;
    padding: 1rem;
}
.flex-name-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}
.flex-name-container button{
    width:100px;
    padding:10px 15px;
    border: .5px solid red;
    background-color: greenyellow;
}
.flex-comment-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    justify-content: center;
    border: 1px solid black; 
}
.flex-comment-list li{
    display: inline-block;
    padding: .5rem;
    border: 1px solid green;
}
.flex-comment-list li span{
    font-size: 16px;
    word-wrap: inherit;

}
.flex-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: .5rem;
    font-size: 16px;
}
.flex-name input{
    margin-left:38px;
}
.flex-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    font-size: 16px;
}
.flex-comment input{
    align-content: flex-start;
    word-wrap: break-word;
   margin: .5rem;
   width: 200px;
   overflow: auto;
}
/* About us cards */

.flex-personal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    margin:1rem;
    background-color: rgb(243, 243, 243); 
}
.flex-personal img{
    width: 200px;
    height: 200px;
    border-radius: 20rem;
}
.flex-personal h3{
    font-size: 28px;
}
.flex-personal h5{
    font-size: 22px;
}
.collapse{
    margin-top:1rem;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-left:4px solid rgba(220, 20, 60, 0.644);
    color:black;
}
.collapse:hover{
    transform: scale(1.3);
}

.inner-text{
    padding: 0 18px;
    width: 300px;
    display: none;
    overflow: hidden; 
}
.badges{
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: center;
    padding: .3rem;
    height: auto;
}
.badges img{
    width: 60px;
    height: auto;
}

.badges a:hover{
    background-color: white;
    transform: rotate(365deg);
    overflow: hidden;
    
}
/* Modal Window */
.modal{
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    height:auto;
    top: 6.23rem;
    right:0;
    overflow:hidden;
    background-color: rgba(0, 0, 0, 0.699);
}
.modal-content{
    margin:.5rem;
    border: 2px solid white;
}
.flex-container-login{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 200px;
    height: auto;
    padding: 1rem ;
}
.flex-login{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .7rem;
    height:100%;
}
#close-modal {
    align-self: flex-end;
}
.login-window{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 16px;  
}
.flex-login-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.flex-list-title{
    font-size: 42px;
    padding-right: 1rem;
}

/* Manager Page*/

.flex-menu-manager{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height:auto;
    padding: 0;
    margin:1rem;
}
.flex-menu-manager label{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: .5rem;
}
.flex-menu-food{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;

}
.flex-menu-food li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: .5rem;
}
.flex-rename{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80%;
}
.editor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Misc / Can not find */

.flex-container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border:2px solid rgb(119, 19, 36);
    font-size: 36px;
    color: aliceblue;
    font-family: Arial, Arial, 'Arial', sans-serif;
    background-color: black;
}
.flex-container-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    overflow: auto;
    height: auto;
    margin-left: 6rem;
    margin-top: 0;
    padding: 2rem;
    background-color: white;
}
.close{
    float:right;
    color: white;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Section */
  @media only screen and (max-width: 640px) {
    header.fixed{
      position:relative;
    }
  }
@media screen and (max-width: 800px) {
    *{
      width: 100%;
    }
}
@media screen and (max-width: 640px){
    img{
        width: 100%;
    }
}