*{
    
}
a:link{
    text-decoration: none;
    color: #000000;
}
a:visited{
    color:crimson;
}
a:hover{
    background-color: black;
    color: aliceblue;
}
.container{
    background-color: black;
}
.background-image{
    background-color: aquamarine;
    background-size: cover;
}
.flex-navigation li{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.flex-navigation li a:hover{
    background-color: black;
    color: aliceblue;
}
.flex-list-restaurants li{
    background-color: aliceblue;
}
.modal-content{
    background-image: url('../img/dinnerlogin.jpg');
}

#openModalBtn{
  display: inline-block;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  margin: 5px;
  border: 2px solid whitesmoke;
}
#openModalBtn span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#openModalBtn span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
}
#openModalBtn:hover span{
    padding-right: 25px;
}
#openModalBtn:hover span:after{
    opacity: 1;
    right: 0;
}
.mainBtn{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    margin: 5px;
    border: 2px solid whitesmoke;
  }
  .mainBtn span{
      display: inline-block;
      position: relative;
      transition: 0.5s;
  }
  .mainBtn span::after{
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -30px;
      transition: 0.5s;
  }
  .mainBtn:hover span{
      padding-right: 25px;
  }
  .mainBtn:hover span:after{
      opacity: 1;
      right: 0;
  }
.flex-login{
    color:black;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid black;
    background-color: whitesmoke;
}
.questions{
    font-size: 12px;
    font-weight: 400;
}

.outStock {
    opacity: .4;
}