/* Anchor Styling */
a:link{
    text-decoration: none;
    color: #000000;
}
a:visited{
    color:crimson;
}
a:hover{
    background-color: black;
    padding: .4rem;
    color: aliceblue;
    -webkit-transition: 0.5s all ease;
  transition: 0.5s ease all;
}

/* Back Ground May need deleted*/
.container{
    background-color: black;
}
.background-image{
    background-color: aquamarine;
    background-size: cover;
}

/* Navigation Fonts */

.flex-navigation li{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.flex-navigation li a:hover{
    background-color: black;
    color: aliceblue;
}
.flex-list-restaurants li{
    background-color: aliceblue;
}

/* Modal 

.modal-content{
    background-image: url('../img/dinnerlogin.jpg');
}

*/
#openModalBtn{
  display: inline-block;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  margin: 5px;
  border: 2px solid whitesmoke;
}
#openModalBtn span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#openModalBtn span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
}
#openModalBtn:hover span{
    padding-right: 25px;
}
#openModalBtn:hover span:after{
    opacity: 1;
    right: 0;
}
.flex-login{
    color:black;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
}

/* Login / Submit Buttons */

.mainBtn{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    margin: 5px;
    border: 2px solid whitesmoke;
  }
.mainBtn span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.mainBtn span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
}
.mainBtn:hover span{
    padding-right: 25px;
}
.mainBtn:hover span:after{
    opacity: 1;
    right: 0;
}

.questions{
    font-size: 12px;
    font-weight: 400;
}

/* Back Buttons*/

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1rem ;
    border: 3px solid  rgba(172, 0, 0, 0.651);
}
.back-button i {
    padding: .3rem;
}
.back-button a{
    background-color: transparent;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s ease all;
}
.back-button:hover{
    text-decoration: none;
    color: white;
    border: 3px solid  rgba(172, 0, 0, 0.651);
    background-color: rgba(172, 0, 0, 0.651);
    -webkit-transition: 0.5s all ease;
  transition: 0.5s ease all;
}
.back-button:hover a{
    text-decoration: none;
    color: white;
    background-color:transparent;
    -webkit-transition: 0.5s all ease;
  transition: 0.5s ease all;
}
.back-button:focus{
    text-decoration: none;
    color: white;
    border: 3px solid  rgba(172, 0, 0, 0.651);
    background-color: rgba(172, 0, 0, 0.651);
}
.back-button:before{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
}
.back-button:hover:before{
    -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.back-button::after{
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

 /* Item Specific */
.outStock {
	background-image: url('../img/SOLD-OUT.jpg');
    opacity: .4;
}