<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
     <link rel="stylesheet" href="/CSS/layout.css"  />
    <link rel="stylesheet" href="/CSS/style.css"  />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/itemLayout.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/menu.css"  />
</head>
<body>
        <div class="grid-hack">
                <main class="container">
                    <header class="header">
                                        <div class="header-container">
                                            <img src="../img/logo.png" class="logo"></img>
                                            <h1>My Menu</h1>
                                            <input id="burger" type="checkbox" />
                                            <label for="burger">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </label>
                                            <nav class="flex-navigation">
                                                <ul>
                                                    <li>
                                                        <a th:href="@{/index}">Home</a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/index/contact}">Contact Us</a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/index/aboutUs}">About My Menu</a>
                                                    </li>
                                                                <li>
                                                                    <a th:href="@{/index#sec1}">List of Restaurants</a>
                                                                </li>
                                                    <li>
                                                        <a href="#">Our Partners</a>
                                                    </li>    
                                                    <li>
                                                        <a href="#">Follow Us</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                </header>
    <div class="flex-container-4">
            <span class="flex-menu-title">
                <h2>Welcome to the My Menu App <br/> The menu revolution</h2>
                
            </span>
    <div class="flex-container-7">
        <h1>About My Menu</h1>
    <span class="flex-list-app-content">
        <h3> Our Goal:</h3>
        <p>Here at My Menu our goal is to provide an elegant ordering experience through modern integration.We strive to bring our clients the best dining experience through our state of the art menu, ordering, and pay systems</p>
    </span>
    <span class="flex-list-app-content">
        <img src="../img/oleman.jpg" class="about-us-images"  />
    </span>

    <span class="flex-list-app-content">
            <img src="../img/paper.jpg" class="about-us-images"  />
    </span>
    <span class="flex-list-app-content">
        <h3>The Question:</h3>
        <p>Have you ever stopped to think about how much paper is used yearly by a restuarant?</p>
    </span>

    <span class="flex-list-app-content">
        <h3>Our Solution</h3>
        <p>Our application helps in reducing the amount of paper waste restaurants generate yearly. Our app will allow the management team to handle their menus digitally. Management will be able to change daily features or specials, without printing new menus daily. </p>
    </span>

    <span class="flex-list-app-content">
        <img src="../img/onphone.jpg" class="about-us-images"  />
    </span>

    <span class="flex-list-app-content">
        <img src="../img/lady-coffee.jpeg" class="about-us-images"  />
    </span>

    <span class="flex-list-app-content">
        <h3>Reasons to join the revolution</h3>
        <p>As if the paper waste isn't enough of a reason to join the my menu revolution, guests will be able to utilize the app. Guest will be able to view pictures of items, descriptions, allergy inforamtion and other functionallity.</p>
    </span>
</div>
</div>
<footer class="footer hero-img">
        <h4>Handcrest&reg;</h4>
        <nav class="flex-navigation">
            <ul>
                <li>
                    <a th:href="@{/index}">Home</a>
                </li>
                <li>
                    <a th:href="@{/index/contact}">Contact Us</a>
                </li>
                <li>
                    <a th:href="@{/index/aboutUs}">About My Menu</a>
                </li>
                <li>
                    <a href="#">Our Partners</a>
                </li>
                <li>
                    <a href="#">Follow Us</a>
                </li>
            </ul>
        </nav>
    </footer>
    
</main>
</div>
</body>
</html>