<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"  />
    <title th:text="${restaurantName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
</head>

<body>
<header>
   <!-- <h1 th:text="${restaurantName}"></h1> -->
    <h2>Manager Interface</h2>
</header>

<h1>THIS IS A TEST PAGE</h1>

<a th:href="@{/index}">Return to Index</a>
<h3> Add Menu </h3>
	<input> </input><button>Edit</button> <button>Delete</button> <button>Sold Out</button>
<h3> Add Item </h3>
	<input> </input><button>Edit</button> <button>Delete</button> <button>Sold Out</button>
<footer>Handcrest&reg;</footer>
</body>
</html>