<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${menu.menuName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/menu.css"  />
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet"  />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"  />
</head>
<body>
    <div class="grid-hack">
        <main class="container">
            <header class="header">
                <div class="header-container">
        <img src="../img/logo.png" class="logo"></img>
        <h1>MyMenu</h1>
        <input id="burger" type="checkbox" />
        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
    <nav class="flex-navigation">
            <ul>
                    <li>
                        <a th:href="@{/index}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/index/contact}">Contact Us</a>
                    </li>
                    <li>
                            <a th:href="@{/index/aboutUs}">About My Menu</a>
                    </li>
                    <li>
                        <a th:href="@{/index#sec1}">List of Restaurants</a>
                    </li>
                    <li>
                        <a href="#">Our Partners</a>
                    </li>    
                    <li>
                        <a href="#">Follow Us</a>
                    </li>
                </ul>
    </nav>
</div>
</header>
<div class="flex-container-4">
    <span class="flex-thing">
        <button class="back-button"><i class="fas fa-angle-double-left"></i><a th:href="|@{/index/customer/}${restaurant.restaurantName}|">Back to Menus</a></button>
        <h2 th:text="${restaurantName}"></h2><br/>
            <h3 th:text="${menu.menuName}"></h3>
        </span>

    <section class="flex-container-items-menu">
    <ul class= "itemsList"> <!--Java script for freeze item-->
        <li th:each="item : ${menu.items}" th:classappend="${item.enabled} ? inStock : outStock">
            <a th:href= "|@{/index/customer/}${restaurant.restaurantName}/@{menus}/${menu.menuId}@{/items/}${item.itemId}|">
                <span th:text="${item.itemName}"></span>
                <img th:src="${item.picture}" style="width:20vw" />
            </a>
        </li>
    </ul>
</section>

</div>
    
<footer class="footer hero-img">
        <h4>Handcrest&reg;</h4>
        <nav class="flex-navigation">
                <ul>
                        <li>
                            <a th:href="@{/index/contact}">Contact Us</a>
                        </li>
                        <li>
                            <a th:href="@{/index/aboutUs}">About Us</a>
                        </li>
                        <li>
                            <a href="#sec1">Back to Restaurants</a>
                        </li>
                    </ul>
        </nav>
    </footer>
</main>
</div>


</body>
</html>
