<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${menu.menuName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/menu.css"  />
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet"  />
</head>
<body>
    <div class="grid-hack">
        <main class="container">
            <header class="header">
                <div class="header-container">
        <img src="../img/logo.png" class="logo"></img>
        <h1>MyMenu</h1>
        <input id="burger" type="checkbox" />
        <label for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
    <nav class="flex-navigation">
        <ul>
            <li>
                <a th:href="@{/index}">List of Restaurants</a>
            </li>
            <li>
                <a th:href="|@{/index/customer/}${restaurant.restaurantName}|">List of Menus</a>
            </li>
        </ul>
    </nav>
</div>
</header>
<div class="flex-container-4">
    <span>
            <h2 th:text="${restaurantName}"></h2>
            <h3 th:text="${menu.menuName}"></h3>
</span>
    <section class="flex-container-menu">
    <ul class= "itemsList">
        <li th:each="item : ${menu.items}" th:classappend="${item.enabled} ? inStock : soldOut">
            <a th:href= "|@{/customer/}${restaurant.restaurantName}/@{menus}/${menu.menuId}@{/items/}${item.itemId}|">
                <span th:text="${item.itemName}"></span>
                <img th:src="${item.picture}" style="width:10vw" />
            </a>
        </li>
    </ul>
</section>

</div>
    
<footer class="footer">
        <h4>Handcrest&reg;</h4>
        <nav class="flex-navigation">
            <ul>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Our Partners</a>
                </li>
                <li>
                    <a href="#">Follow Us</a>
                </li>
            </ul>
        </nav>
    </footer>
</main>
</div>


</body>
</html>
