<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>My Menu App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <link rel="stylesheet" href="../css/layout.css"  />
    <link rel="stylesheet" href="../css/style.css"  />
</head>

<body>
<div class="grid-hack">
<main class="container"> 
<header class="header">  
    <div class="header-container">
        <img src="../img/logo.png" class="logo"  ></img>
        <h1>MyMenu</h1>
        <nav class="flex-navigation">
            <ul>
                <li><a th:href="@{/index/contact}">Contact Us</a></li>
                <li><a href="#">Our Partners</a></li> 
                <li><a href="#">Follow Us</a></li>
             
                
                
                
                <button id="openModalBtn">
                        <span>Login</span>
                    </button>
                <div id="loginModal" class="modal">
                    <div class="modal-content flex-container-login">
                        <div class="flex-login">
                            <span id="close-modal">X
                            </span>
                            
                            <span class="login-window">
                            
                            <form th:action="@{/index/admin}">
                                <h4>Login:</h4>
                                <p>Username:</p>
                                <input type="text" placeholder="login" class="flex-1" />
                                <p>Password:</p>
                                <input type="text" placeholder="login password" class="flex-2" /><br/>
                                <button class="mainBtn"><span>Login</span></button>
                             </form>
                                
                                <a href="#" class="questions">Forgot Username?</a>
                                <a href="#" class="questions">Forgot Password?</a>
                            </span>
                            </div>  
                    </div>
                </div>
            </ul>
        </nav>
    </div>
</header>
<div class="hero-image">
        <img class="slides" src="../img/dinnerlogin.jpg"  />
        <img class="slides" src="../img/dinnerstockbg.jpg"  />
        <img class="slides" src="../img/freshveg.jpg" />
        <img class="slides" src="../img/dinnerlogin.jpg" />      
        
        
    </div> 

<section class="flex-container-4">
<div class="flex-login-line">
    <h3 class="flex-list-title"> Restaurant List:</h3>
    
</div>       
   
    <ul class="flex-list-restaurants">
        <li th:each="restaurant : ${restaurants}">
            <a th:href="|@{/index/}${restaurant.restaurantName}|">
                <span th:text="${restaurant.restaurantName}"></span>
            </a>
            <img src="../img/dinnerlogin.jpg" class="restaurant-card-picture"  />
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore suscipit, magnam, dolores deserunt rem rerum asperiores nesciunt, ea quisquam tenetur tempora neque optio quod corrupti delectus perferendis unde sunt? Earum?</span>
        </li>
    </ul>
    <div class="flex-list-restaurants">
    
    <span class="flex-list-app-content">
        <h3> Our Goal:</h3>
        <p>Here at My Menu our goal is to provide an elegant ordering experience through modern integration.We strive to bring our clients the best dining experience through our state of the art menu, ordering, and pay systems</p>
    </span>

    <span class="flex-list-app-content">
        <h3>The Question:</h3>
        <p>Have you ever stopped to think about how much paper is used yearly by a restuarant?</p>
    </span>

    <span class="flex-list-app-content">
        <h3>Our Solution</h3>
        <p>Our application helps in reducing the amount of paper waste restaurants generate yearly. Our app will allow the management team to handle their menus digitally. Management will be able to change daily features or specials, without printing new menus daily. </p>
    </span>

    <span class="flex-list-app-content">
        <h3>Reasons to join the revolution</h3>
        <p>As if the paper waste isn't enough of a reason to join the my menu revolution, guests will be able to utilize the app. Guest will be able to view pictures of items, descriptions, allergy inforamtion and other functionallity.</p>
    </span>

    </div>
</section>


<footer class="footer">
        <h4>Handcrest&reg;</h4>
   <nav class="flex-navigation"> 
       <ul>
        <li><a href="#">Contact Us</a> </li>
        <li><a href="#">Our Partners</a> </li>
        <li><a href="#">Follow Us</a> </li>
        </ul>
    </nav>
</footer>


</main>
</div>
<script src="/js/loginModal.js"></script>
<script src="/js/carosule.js"></script>
<script src="/js/opennav.js"></script>
<script src="/js/javascript.js"></script>

</body>
</html>