<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${items.itemName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/projectstyles.css" />

</head>
<body>	
    <nav>
        <ul>
            <li>
                <a th:href="@{/index}">Restaurants</a>
            </li>
            
            <li>
                <a th:href="|@{/index/}${restaurant.restaurantName}/@{menus}/${menu.menuId}">Menu</a>
            </li>
        </ul>
    </nav>
<header>
    <h1 th:text="${items.itemName}"></h1>
</header>
    <div>
        <ul class="itemDetails">
            <li>
                <a th:text="|Description: ${items.description}|"></a>
            </li>

            <li>
                <img th:src="${items.picture}" style="width:25vw" />
            </li>

            <li>
                <a th:text="|Price: $${items.price}|"></a>
            </li>

            <li>
                <a th:text="|Calories: ${items.calories}|"></a>
            </li>

            <li>
                <a th:text="|Ingredients: ${items.ingredients}|"></a>
            </li>        
        </ul>
    </div>
<footer>Handcrest&reg;</footer>
   
<script src="/javascript.js"></script>

    <!-- Fix "Go Back" button
    <a th:href="@{/menu}">Go Back</a> -->

</body>
</html>