<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="${item.itemName}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" media="screen"
    href="/css/style.css" />
<link rel="stylesheet" type="text/css" media="screen"
    href="/css/layout.css" />
<link rel="stylesheet" type="text/css" media="screen"
    href="/css/itemLayout.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/menu.css"  />
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet"  />
</head>
<body>
    <div class="grid-hack">
        <main>
        <div class="container">
            <header class="header">
                <div class="header-container">
                    <img src="../static/img/logo.png" class="logo"></img>
                    <h1>MyMenu</h1>
                    <input id="burger" type="checkbox" />
                    <label for="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <nav class="flex-navigation">
                        <ul>
                            <li><a th:href="@{/index/contact}">Contact Us</a></li>
                            <li><a href="#">Our Partners</a></li>
                            <li><a th:href="@{/index/aboutus}">Follow Us</a></li>
                            <li><a th:href="@{/index}">Restaurants</a></li>
                            <li><a th:href="|@{/index/}${restaurant.restaurantName}/@{menus}/${menu.menuId}">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="hero-image">
                <img class="slides" src="../img/dinnerlogin.jpg" /> <img
                    class="slides" src="../img/dinnerstockbg.jpg" /> <img
                    class="slides" src="../img/freshveg.jpg" /> 
                    <img class="slides" src="../img/dinnerlogin.jpg" />
            </div>

            <div class="flex-container-4">
                <header>
                    <span class="flex-thing">
                        <input type="hidden" name="itemId" th:value="${item.itemId}" />
                        <input type="hidden" name="menuId" th:value="${menu.menuId}" />
                        <button id="renameItemBtn" class="back-button">Rename</button>
                        <div id = "itemName-modal-screen">
                            <div id = "itemName-modal-box">
                                <header>
                                    <h3>Rename item</h3>
                                    <button id = "close-itemName-modal">Cancel</button>
                                </header>
                                <label>Name: <input type="text" name="itemRename" th:placeholder="${item.itemName}" /></label>
                                <button class="submitRenameBtn">Save changes</button>
                            </div>
                        </div>
                        <h2 th:text="${restaurantName}"></h2>
                        <h3 th:text="${item.itemName}" class="menuNameToChange"></h3>
                    </span>
                </header>

                <section>
                    <div class="flex-item-list">
                        <h3 th:text="${item.itemName}" class="menuNameToChange"></h3>
                        <input type="hidden" name="itemId" th:value="${item.itemId}" /> <input
                            type="hidden" name="menuId" th:value="${menu.menuId}" />
                        <ul class="itemDetails">
                            <li class="itemPicture"><img class="picture"
                                th:src="${item.picture}" style="width: 25vw" />
                                <button id="editPictureBtn">Edit</button>
                                <div id="picture-modal-screen">
                                    <div id="picture-modal-box">
                                        <header>
                                            <h3>Enter picture file path</h3>
                                            <button id="close-picture-modal">Cancel</button>
                                        </header>
                                        <label>Picture: <input type="text" name="itemPicture"
                                            th:placeholder="${item.picture}" /></label>
                                        <button class="submitPictureBtn">Save changes</button>
                                    </div>
                                </div></li>
                            <li class="itemDescription">
                                <p class="description"
                                    th:text="|Description: ${item.description}|"></p>
                                <button id="editDescriptionBtn">Edit</button>
                                <div id="description-modal-screen">
                                    <div id="description-modal-box">
                                        <header>
                                            <h3>Edit description of this item</h3>
                                            <button id="close-description-modal">Cancel</button>
                                        </header>
                                        <label>Description: <input type="text"
                                            name="itemDescription" th:placeholder="${item.description}" /></label>
                                        <button class="submitDescription">Save description</button>
                                    </div>
                                </div>
                            </li>
                            <li class="itemPrice">
                                <p class="price" th:text="|Price: $${item.price}|"></p>
                                <button id="editPriceBtn">Edit</button>
                                <div id="price-modal-screen">
                                    <div id="price-modal-box">
                                        <header>
                                            <h3>Edit price of this item</h3>
                                            <button id="close-price-modal">Cancel</button>
                                        </header>
                                        <label>Price: <input type="text" name="itemPrice"
                                            th:placeholder="${item.price}" /></label>
                                        <button class="submitPrice">Save changes</button>
                                    </div>
                                </div>
                            </li>
                            <li class="itemCalories">
                                <p class="calories" th:text="|Calories: ${item.calories}|"></p>
                                <button id="editCaloriesBtn">Edit</button>
                                <div id="calories-modal-screen">
                                    <div id="calories-modal-box">
                                        <header>
                                            <h3>Edit calories of this item</h3>
                                            <button id="close-calories-modal">Cancel</button>
                                        </header>
                                        <label>Calories: <input type="text"
                                            name="itemCalories" th:placeholder="${item.calories}" /></label>
                                        <button class="submitCalories">Save changes</button>
                                    </div>
                                </div>
                            </li>
                            <li class="itemIngredients">
                                <p class="ingredients"
                                    th:text="|Ingredients: ${item.ingredients}|"></p>
                                <button id="editIngredientsBtn">Edit</button>
                                <div id="ingredients-modal-screen">
                                    <div id="ingredients-modal-box">
                                        <header>
                                            <h3>Edit ingredients of this item</h3>
                                            <button id="close-ingredients-modal">Cancel</button>
                                        </header>
                                        <label>Ingredients: <input type="text"
                                            name="itemIngredients" th:placeholder="${item.ingredients}" /></label>
                                        <button class="submitIngredients">Save changes</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>

                <section>
                <div class="flex-container-comments">
                    <h2>Leave a Comment:</h2>
                    <div class="flex-name-container">
                    
                    <label class="flex-name">Your name: <input type="text" name="Creator"
                        placeholder="Enter Your Name Here "  /></label> 

                    <label class="flex-comment">Your Comment: <input type="text" name="comment"
                        placeholder="Enter Your Comment Here" /></label>
                        <button id="submitComment" class="">Submit</button>
                    </div>
            </div>
                <ul class="commentList flex-comment-list">
                    <li th:each="comment : ${item.comments}">
                        <span th:text="|${comment.creator} : ${comment.comment}|"></span>
                    </li>
                </ul>
            </section>

            </div>
        </div>

        <a th:href="@{/menu}">Go Back</a> 
         <footer class="footer">
            <h4>Handcrest&reg;</h4>
            <nav class="flex-navigation">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Our Partners</a></li>
                    <li><a href="#">Follow Us</a></li>
                </ul>
            </nav>
        </footer> 
    </main>
    </div>
    <script src="/js/OpenNav.js"></script> 
    <script src="/js/carosule.js"></script>
    <script src="/js/comment.js"></script> 
    <script src="/js/editItem.js"></script>
    <script src="/js/OpenNav.js"></script>
    <script src="/js/carosule.js"></script>
    <script src="/js/editItem.js"></script>
</body>
</html>
