<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${items.itemName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
</head>
<body>
<span th:text="${menu.menuId}" id="menuId" style="display: none"></span>    
<span th:text="${items.itemId}" id="itemId" style="display: none"></span>    
    <nav>
        <ul>
            <li>
                <a th:href="@{/index}">List of Restaurants</a>
            </li>    
			      <li>
                <a th:href="|@{/index/}${restaurantName}">List of Menus</a>
            </li> 
            <li>
                <a th:href="|@{/index/}${restaurant.restaurantName}/@{menus}/${menu.menuId}">Back to Menu</a>
            </li>
        </ul>
    </nav>
<header>
    <h1 th:text="${items.itemName}"></h1>
</header>
    <div>
        <ul class="itemDetails">
            <li>
                <a th:text="|Description: ${items.description}|"></a>
            </li>
            <li>
                <img th:src="${items.picture}" style="width:25vw" />
            </li>
            <li>
                <a th:text="|Price: $${items.price}|"></a>
            </li>
            <li>
                <a th:text="|Calories: ${items.calories}|"></a>
            </li>
            <li>
                <a th:text="|Ingredients: ${items.ingredients}|"></a>
            </li>        
        </ul>
    </div>
    <h5>Comments</h5>
	<div>
		<label>Your name : <input type="text" name="Creator"
			placeholder="Enter Your Name Here " /></label> <label>Your Comment:
			<input type="text" name="comment"
			placeholder="Enter Your Comment Here" />
		</label> <input type="hidden" name="itemId" th:value="${items.itemId}"></input>
		<input type="hidden" name="menuId" th:value="${menu.menuId}"></input>
		<button id="submitComment">Submit</button>
	</div>

	<ul class="commentList">
		<li th:each="comment : ${items.comments}"><span
			th:text="|${comment.creator}: ${comment.comment}|"></span></li>
	</ul>
	
    
<footer>Handcrest&reg;</footer>

	<script src="/js/javascript.js"></script>
	<script src="/js/comment.js"></script>

</body>
</html>
