<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${menu.menuName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="projectstyles.css" />
</head>
<body>
        <nav>
                <ul>
                    <li>
                        <a th:href="@{/index}">Restaurants</a>
                    </li>
                    <li>
                        <a th:href="|@{/index/}${restaurant.restaurantName}/@{menus}/${menu.menuId}">Menu</a>
                    </li>
                </ul>
            </nav>
<header>
    <h1 th:text="${menu.menuName}"></h1>
    <section class="addItem">
            <label>Item name: <input type="text" name="addItemNameApi" placeholder="Name"/></label>
            <label>Description: <input type="text" name="addDescriptionApi" placeholder="Description" /></label>
            <label>Price: <input type="text" name="addPriceApi" placeholder="0.00" /></label>
            <label>Image URL: <input type="text" name="addImageURL" placeholder="URL" /></label>
            <label>Calories: <input type="text" name="addCaloriesApi" placeholder="Calories" /></label>
            <label>Ingredient warnings: <input type="text" name="addIngredientsApi" placeholder="Contains allergens, etc." /></label>
            <button class="submitItemButton">Submit</button>
    </section>
</header>
<main>

    <!-- List of items on the menu click for details -->
	<ul class= "itemsList">
        <li th:each="item : ${menu.items}">
            <a th:href= "|@{/index/}${restaurant.restaurantName}/@{menus}/${menu.menuId}@{/items/}${item.itemId}|">
                <span th:text="${item.itemName}"></span>
                <img th:src="${item.picture}" style="width:10vw" />
            </a> 
        </li>
    </ul>
    <h2>Add an item to this menu</h2>

</main>
    <footer>Handcrest&reg;</footer>
    <script src="javascript.js"></script>
</body>
</html>