<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title th:text="${restaurantName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/CSS/layout.css" />
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="grid-hack">
        <main class="container">
            <header class="header">
                <div class="header-container">
                    <img src="../img/logo.png" class="logo"></img>
                    <h1>MyMenu</h1>
                    <nav class="flex-navigation">
                        <ul>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Our Partners</a>
                            </li>
                            <li>
                                <a href="#">Follow Us</a>
                            </li>
                            <li>
                                <a th:href="@{/index}">Home</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

       <!--    <div class="hero-image">
                <img class="slides" src="../img/dinnerlogin.jpg" />
                <img class="slides" src="../img/dinnerstockbg.jpg" />
                <img class="slides" src="../img/freshveg.jpg" />
                <img class="slides" src="../img/dinnerlogin.jpg" />
            </div> 
        -->
            <section class="flex-container-4">
                <section class="flex-restaurant-line">
                    <div class="flex-title">
                        <h1 th:text="${restaurantName}"></h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit totam, debitis a placeat eveniet hic
                            quod, modi quia illum labore saepe nam ducimus quaerat nemo repellat, ullam eius libero rem!</p>
                    </div>
                </section>

                <ul class="menusList flex-list-menu">
                    <li th:each="menu : ${restaurant.menus}">
                        <a th:href="|@{/index/}${restaurant.restaurantName}/@{menus}/${menu.menuId}|" th:text="${menu.menuName}">
                        </a>
                        <div class="button-group">
                            <button class="deleteMenuButton remove-button">Delete Menu</button>
                            <button class="deleteMenuButton edit-button">Edit Menu</button>
                            <button class="deleteMenuButton freeze-button">Sold Out</button>
                        </div>
                    </li>
                </ul>

                <div class="flex-content-manager">
                    <h2>Add a menu for this restaurant</h2>
                    <section class="addMenu">
                        <label>Menu name:
                            <input type="text" name="addMenuNameApi" placeholder="Name" />
                        </label>
                        <input type="hidden" name="apiRestaurantName" th:value="${restaurant.restaurantName}"></input>
                        <button class="submitMenuButton mainBtn"><span>Submit</span></button>
                    </section>
                </div>
            </section>

            <footer class="footer">
                <h4>Handcrest&reg;</h4>
                <nav class="flex-navigation">
                    <ul>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Our Partners</a>
                        </li>
                        <li>
                            <a href="#">Follow Us</a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </main>
    </div>

    <script src="/js/javascript.js"></script>
    <script src="/js/deleteMenu.js"></script>
    <script src="/js/addmenu.js"></script>
    <script src="/js/carosule.js"></script>
</body>

</html>