<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="${restaurantName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <nav>
        <ul>
            <li>
                <a th:href="@{/index}">Restaurants </a>
            </li>
        </ul>
    </nav>
<header>
    <h1 th:text="${restaurantName}"></h1>
</header>

	<ul class= "menusList">
        <li th:each="menu : ${restaurant.menus}">
             <a th:href= "|@{/index/}${restaurant.restaurantName}/@{menus}/${menu.menuId}|"
                 th:text= "${menu.menuName}">
            </a> 
               <button class = "deleteMenuButton">Delete Menu</button>
        </li>
    </ul>

    <a th:href="@{/index}">Go Back</a>

<footer>Handcrest&reg;</footer>

<script src="/javascript.js"></script>
<script src="/deleteMenu.js"></script>

</body>
</html>